html{
	height: auto;
	margin: 0;
}

body{
	font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #f1f6f9;
}

/* Website Title */
.container{
    padding: 30px;
	position: relative;
	background: linear-gradient(0.25turn, #14274e, #222831);
	background-size: 500% 500%;
	animation: change-gradient 10s ease-in-out infinite;
}
@keyframes change-gradient {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}

.container-heading{
    margin: 0;
    color: #ffffff;
    font-family:cursive;
    font-style:normal;
	font-size: 40px;
	font-weight: normal;
}


.description p{
	color: #ffffff;
    font-style: ;
    font-size: 22px;
    margin: -1px 0 0;
}

/* Top Bar */
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


/* Text Area */
.ml-container{
    margin: 40px 0;
	flex: 1 0 auto;
}

.form-input {
	text-align: center;
	width: 400px;
	height: 25px;
	margin-bottom: 5px;
}

/* Predict Button */
.my-cta-button{
	background: #fbf6f0;
   	border: 2px solid #000000;
    border-radius: 1000px;
    box-shadow: 6px 5px #8c8c8c;
	margin-top: 20px;
    padding: 10px 36px;
    color: #000000;
    display: inline-block;
   	font: italic bold 20px/1 "Calibri", sans-serif;
    text-align: center;
}

.my-cta-button:hover{
    color: #8b8393;
    border: 2px solid #000000;
}

.my-cta-button:active{
    box-shadow: 0 0;
}

/* Contact */
.contact-icon{
	color: #ffffff;
	padding: 7px;
}

.contact-icon:hover{
	color: #8c8c8c;
}

/* Footer */
.footer{
	flex-shrink: 0;
	position: relative;
	padding: 15px;
	background: linear-gradient(to left, #0f0f0f, #41584b 50%, #eee 75%, #41584b 75%);
	background-size: 500% 500%;
	animation: change-gradient 10s ease-in-out infinite;
}

.footer-description{
	color: #ffffff;
	margin: 0;
	font-size: 18px;
}
